<!DOCTYPE html>
<html>
    <head>
        <title>Scenario Editor - CUSF Hourly Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <style type="text/css">
            h1 { margin: 50px 0; text-align: center; }
            .form-inline { text-align: center; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
