{% extends "base.html" %}

{% block main %}
    <h1>Editing scenario {{ scenario }}</h1>
    {% if saved %}
        <div class="alert alert-success alert-block">
            <h4>Saved</h4>
            The hourly predictor daemon will automatically queue an immediate re-run of this scenario.
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for('edit', scenario=scenario) }}" class="form-horizontal">
        <input type="hidden" name="password" value="{{ password }}">
        <input type="hidden" name="save" value="true">

        <legend>Launch site</legend>

        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" name="name" readonly value="{{ name }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="owner">Owner</label>
            <div class="controls">
                <input type="text" name="owner" readonly value="{{ owner.name }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" name="email" readonly value="{{ owner.email }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="latitude">Latitude</label>
            <div class="controls">
                <input type="text" name="latitude" readonly value="{{ site.latitude }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="longitude">Longitude</label>
            <div class="controls">
                <input type="text" name="longitude" readonly value="{{ site.longitude }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="altitude">Altitude</label>
            <div class="controls">
                <input type="text" name="altitude" readonly value="{{ site.altitude }}">
            </div>
        </div>

        <legend>Altitude model settings</legend>

        <div class="control-group {{ "error" if errors.ascent_rate else "" }}">
            <label class="control-label" for="ascent_rate">Ascent rate</label>
            <div class="controls">
                <input type="text" id="ascent_rate" name="ascent_rate" value="{{ ascent_rate }}">
                <span class="help-inline">{{ errors.ascent_rate }}</span>
            </div>
        </div>

        <div class="control-group {{ "error" if errors.descent_rate else "" }}">
            <label class="control-label" for="ascent_rate">Descent rate</label>
            <div class="controls">
                <input type="text" id="descent_rate" name="descent_rate" value="{{ descent_rate }}">
                <span class="help-inline">{{ errors.descent_rate }}</span>
            </div>
        </div>

        <div class="control-group {{ "error" if errors.burst_altitude else "" }}">
            <label class="control-label" for="burst_altitude">Burst altitude</label>
            <div class="controls">
                <input type="text" id="burst_altitude" name="burst_altitude" value="{{ burst_altitude }}">
                <span class="help-inline">{{ errors.burst_altitude }}</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
