html, body, #map-canvas { width: 100%; height: 100%; }

.hovering-box {
	position: absolute; 
	background-color: white; 
	border: 1px solid #6666ff; 
	padding: 0.5em;

	font-size: 12px;
}

.hovering-box {
    /* for more modern browsers */
	background: rgba(255,255,255,0.75);
}

.hovering-box table { 
	margin: 0.25em auto;
	white-space: nowrap;
}

.hovering-box h1 { 
	text-align: center;
	margin: 0em 0em 0.5em 0em;
}

.hovering-box p { 
	margin: 0 auto;
	margin-bottom: 0.25em; 
	width: 25em;
}

#trails-box { 
	right: 0; bottom: 0;
	border-right: none;
	border-bottom: none;
	display: none;
}

#scenario-display {
	left: 0; bottom: 0; 
	border-left: none;
	border-bottom: none;
}

.hovering-box td.right-td {
	text-align: right;
}

.hovering-box td.spacer {
	width: 1em;
}

table#trails {
	border-collapse: collapse;
}

table#trails td, table#trails th { 
	border: 1px solid #6666ff;
	padding: 0.1em 0.5em;
	text-align: center;
}

table#trails th { 
	background-color: #6666ff;
	color: white;
}
